* {
    margin: 0;
}

header {
    background-color: #808080;
    height: 55px;
}

.cap {
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: space-between;
}

.cap table {
    border: 0px solid;
}

.icon img {
    display: block;
    border-radius: 100%;
}

.icon p {
    color: white;
}

.icon table {
    color: white;
}

.navi {
    line-height: 52px;
}


ul {
    list-style-type: none;
}

.navi li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

li a {
    padding: 20px;
}

.myself {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 320px;
    margin: 30px auto;
    border-bottom: 3px solid #808080;
}

.avatar img {
    margin-left: 50px;
}

.name {
    margin-top: 100px;
    margin-right: 50px;
}

.name p {
    margin-top: 30px;
}

h2 {
    padding: 15px 40px ;
}

#contacts {
    width: 1000px;
    margin: auto;
    border-bottom: 3px solid #808080;
}

#contacts ul {
    padding-bottom: 15px;
}

#about {
    width: 1000px;
    margin: auto;
    border-bottom: 3px solid #808080;
}

#about p {
    padding-left: 40px;
}

#skils {
    width: 1000px;
    margin: auto;
    border-bottom: 3px solid #808080;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.container img {
    padding-bottom: 15px;
}

#code {
    width: 1000px;
    margin: auto;
    border-bottom: 3px solid #808080;
}

pre {
    padding-left: 40px;
}

#work {    
    width: 1000px;
    margin: auto;
    border-bottom: 3px solid #808080;
}

#work ul {
    padding-bottom: 15px;
}

#education {
    width: 1000px;
    margin: auto;
    border-bottom: 3px solid #808080;
}

#education p {
    padding-left: 40px;
    padding-bottom: 15px;
}

#language {
    width: 1000px;
    margin: auto;
 }

 #language p {
    padding-left: 40px;
    padding-bottom: 15px;
}

footer {
    background-color: #808080;
    height: 71px;
}

.endpg {
    width: 1000px;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 332px 332px 332px;
}
.endpg a, p {
    line-height: 71px;
}

.endpg p {
    text-align: center;
}

.endpg img {
    margin-top: 10px;
}